# ignore the virtual environment, we'll install the packages in the actual docker container
/venv/
/tools/
/kubernetes/
Dockerfile
Dockerfile.base
docker-compose.yml
.dockerignore
.gitignore
*.sh
*.md